/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(243, 232, 232);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:rgb(17, 17, 17);
    font-family: 'Georgia', serif;
    font-size:60px;
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
}

h2{
    color:rgb(17, 17, 17);
    font-family: 'Arial', sans-serif;
    font-size:30px ;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Times New Roman', serif;
    font-size:20px ;
    text-align: center;
}
    
.myWeek1,.myWeek2{
    margin: auto;
    width: 50%;
    background-color: rgba(243, 232, 232);
}

/* Set the apperance of the class, chart */
.chart{
    margin:auto;
    width:100%;
    background-color: rgb(245, 244, 243);
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(196, 192, 187);

}ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(243, 232, 232)9;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-size: 20px;
    font-family: 'Times New Roman', serif;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color:white;
  }
  
  
    