/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(255, 255, 255);
    border-color: rgb(206, 193, 193);
    text-align: center;
    justify-content: center
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:rgb(17, 17, 17);
    font-family: 'Arial', serif;
    font-size:60px;
    text-align: center;
    border-top-style: double;
    border-bottom-style: double;
    border-width: 5px;
    border-color: black;
}

h2{
    color:rgb(17, 17, 17);
    font-family: 'Arial', sans-serif;
    font-size:30px ;
    text-align: center;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Arial', serif;
    font-size:20px ;
    text-align: center;
}
    
.myWeek{
  margin: auto;
  margin-bottom:50px;
  margin-top:20px;
  width: 85%;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  padding-bottom:1cm;
  padding-top:1cm
}

/* Set the apperance of the class, chart */
.chart{
    margin:auto;
    width:70%;
    background-color: rgb(245, 244, 243);
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(196, 192, 187);

}

.chart1{
  margin:auto;
  width:350;
  background-color: rgb(245, 244, 243);
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(196, 192, 187);

}

.chart2{
  margin:auto;
  width:375px;
  background-color: rgb(245, 244, 243);
  padding: 10px;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 244, 243);
    border-width: 1px;
    border-color:grey;
    border-top-style: solid;
    border-bottom-style:solid;
}

  li {
    float: center;
  }
  
  li a {
    font-size: 20px;
    font-family: 'Arial', serif;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color:white;
  }
  
  
    