/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(243, 232, 232);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    font-size:60px;
    text-align: center;
}

h2{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    font-size:45px ;
    text-align: center;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    font-size:25px ;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 700px;
    background-color: rgba(243, 232, 232);
}

.myWeek2{
    margin: auto;
    max-width: 700px;
    background-color: rgba(243, 232, 232);
}

/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(245, 244, 243);
    width:650px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(196, 192, 187);

}
    